{% extends 'layout.html' %}

{% block body %}

    <form action="{% url 'deleteUser' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="By username">
        <input type="submit" value="search">
    </form>

    <ul>
        {% for user in users %}
        <li>
            <a href="{% url 'deleteExecution'  user.username %}">{{ user.username }}</a>
        </li>
        {% empty %}
        <P>
            No users found
        </P>
        {% endfor %}
    </ul>

{% endblock %}